{% include 'admin_header.html.twig' %}
<div class="dx-box-1 pb-100 bg-grey-6">
    <div class="container">
        <div class="row vertical-gap md-gap">
            <div class="col-12">
	            <div class="row align-items-center justify-content-between vertical-gap mnt-20 sm-gap mb-30">
		            <div class="col-auto">
			            <h2 class="h2 mb-0 mt-0">{{ title }}</h2>
		            </div>
		            <div class="col pl-10 pr-10 d-none d-sm-block">
			            <div class="dx-separator ml-0 mr-0" id="comments-block"></div>
			            <input type="hidden" name="_token" value="{{ token }}">
		            </div>
	            </div>
                {% include 'partials/quantity_items.html.twig' %}
	            {% if posts|length > 0 %}
                    {% for post in posts %}
                    <div class="dx-blog-item dx-box dx-box-decorated">
                        <div class="dx-blog-item-cont">
                            <h2 class="h3 dx-blog-item-title"><a href="/admin/blog/posts/{{ post.id }}/edit">{{ post.title }}</a></h2>
                            <ul class="dx-blog-item-info">
                                <li class="d-block"><i class="far fa-clock" title="Опубликовано"></i> {{ post.published_at|date("d.m.Y H:i") }}</li>
                                <li class="d-block"><i class="fas fa-user" title="Автор"></i> <a href="#">{{ post.user.first_name}} {{ post.user.last_name }}</a></li>
                            </ul>
	                        <div class="row">
		                        <div class="col-6">
			                        <a href="/admin/blog/posts/{{ post.id }}/edit" class="btn btn-primary"><i class="fas fa-pencil-alt mr-7"></i> Редактировать</a>
		                        </div>
		                        <div class="col-6 text-right">
			                        <a class="btn btn-secondary" href="/admin/blog/posts/delete" role="button" data-type="request" data-value="{{ post.id }}" data-action="/admin/blog/posts/delete" data-field="postId"><i class="far fa-trash-alt"></i></a>
		                        </div>
	                        </div>
                        </div>
                    </div>
                    {% endfor %}
					{% if not paginator is empty %}
                    	{% include 'partials/pagination.html.twig' %}
					{% endif %}
	            {% else %}
	            	<h5 class="mt-30">Список доступных статей пуст</h5>
	            {% endif %}
	            <div id="messageToast"></div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html.twig' %}