{% include 'admin_header.html.twig' %}
<div class="dx-box-5 bg-grey-6 ">
    <div class="container">
        <div class="row align-items-center justify-content-between vertical-gap mnt-30 sm-gap mb-50" data-send-url="/update/userdata/">
            <div class="col-auto">
                <h2 class="h2 mb-0 mt-0">{{ title }}</h2>
            </div>
            <div class="col pl-30 pr-30 d-none d-sm-block">
                <div class="dx-separator ml-10 mr-10"></div>
            </div>
        </div>
	    <input type="hidden" name="_token" value="{{ token }}">
		{% include 'partials/quantity_items.html.twig' %}
		{% if users|length > 0 %}
		    {% for user in users %}
		        <div class="dx-ticket-item
		        dx-ticket-new
		        {{ user.is_activated == 1 ? 'dx-ticket-open' : 'dx-ticket-close' }}
		        dx-block-decorated">
		            <span class="dx-ticket-img">
					{% if user.avatar is empty %}
						<img src="/layout/assets/images/avatar-1.png" alt="">
					{% else %}
						<img src="{{ pathToAvatar }}{{ user.avatar }}" alt="">
					{% endif %}
		            </span>
		            <span class="dx-ticket-cont">
		                <span class="dx-ticket-name">
		                    {{ user.first_name }} {{ user.last_name }}
		                </span>
		                <ul class="dx-ticket-info">
		                    <li>Заходил в последний раз: <br>{{ user.last_login|date("d.m.Y H:i") }}</li>
		                    <li>Статей опубликовано: {{ user.posts|length }}</li>
		                    <li>Комментарии: {{ user.comments|length }}</li>
		                    <li>
		                        <span class="dx-form-group-inputs">
		                            <select class="custom-select form-control-sm form-control-style-2" data-field="role" data-for-send="{{ user.id }}" data-method="userChangeRole" {{ not user.id is same as currentUser.id ? '' : 'disabled'}}>
		                            {% for role in roles %}
		                                <option value="{{ role.id }}" {{ user.role.code is same as role.code ? 'selected' : '' }}>{{ role.name }}</option>
		                            {% endfor %}
		                            </select>
		                        </span>
		                    </li>
		                </ul>
		            </span>
			        <span class="dx-form-group form-control-sm align-self-center pt-0" >
				        <input 	type="checkbox"
							   	data-toggle="toggle"
							   	data-on="Деактивация"
							   	data-off="Активация"
							   	data-onstyle="danger"
							   	data-offstyle="success"
							   	data-for-send="{{ user.id }}" data-method="userChangeActivate" data-field="active_status"
								{{ not user.is_activated is same as 1 ? '' : 'checked' }}
								{{ not user.id is same as currentUser.id ? '' : 'disabled' }}
				        />
				    </span>
		        </div>
		    {% endfor %}
			{% if not paginator is empty %}
				{% include 'partials/pagination.html.twig' %}
			{% endif %}
        {% else %}
	    <h5 class="mt-30">Список пользователей пуст</h5>
        {% endif %}
	    <div id="messageToast"></div>
    </div>
</div>
{% include 'footer.html.twig' %}