{% for key in element|keys %}
    {% set elementKey = key %}
<div class="dx-form-group div-{{ elementKey }} form-element">
    {% if not element[elementKey]['label'] is empty %}
        <label for="{{ elementKey }}" >{{ element[elementKey]['label'] }}:</label>
    {% endif %}
    <input name="{{ elementKey }}"
    {% if not element[elementKey]['options'] is empty %}
    {% for key, value in element[elementKey]['options'] %}
        {{ key }}="{{ value }}"
    {% endfor %}
    {% endif %}
    {% if not valueAttribute is empty and valueAttribute == 1 %}
        checked
    {% endif %}
    />
</div>
{% endfor %}
