{% for key in element|keys %}
    {% set elementKey = key %}
    <div class="dx-form-group div-{{ elementKey }} form-element mt-20 mb-20">
    {% if not element[elementKey]['label'] is empty %}
        <label for="{{ elementKey }}" >{{ element[elementKey]['label'] }}:</label>
    {% endif %}
        <textarea  name="{{ elementKey }}"
            {% if not element[elementKey]['options'] is empty %}
            {% for key, value in element[elementKey]['options'] %}
                {{ key }}="{{ value }}"
            {% endfor %}
            {% endif %}>
            {% if not valueAttribute is empty %}
                value="{{ valueAttribute }}"
            {% endif %}
        </textarea>
    </div>
{% endfor %}