{% if posts|length > 0 %}
	{% for post in posts %}
    <div class="dx-blog-item dx-box dx-box-decorated">
        <a href="/post/{{ post.slug }}" class="dx-blog-item-img">
	        {% if not post.images[0].file_name is empty %}
	            <img src="{{ imgPath }}{{ post.images[0].file_name }}" alt="">
	        {% endif %}
        </a>
        <div class="dx-blog-item-cont">
            <h2 class="h3 dx-blog-item-title"><a href="/post/{{ post.slug }}">{{ post.title }}</a></h2>
            <ul class="dx-blog-item-info">
                <li class="d-block"><i class="fas fa-user" title="Автор"></i> <a href="#">{{ post.user.first_name }} {{ post.user.last_name }}</a></li>
                <li class="d-block"><i class="far fa-clock" title="Опубликовано"></i> {{ post.published_at|date("d.m.Y H:i") }}</li>
            </ul>
            <div class="dx-blog-item-text">
                <p>{{ post.excerpt }}</p>
            </div>
            <a href="/post/{{ post.slug }}" class="dx-btn dx-btn-lg">Подробнее</a>
        </div>
    </div>
	{% endfor %}
{% endif %}

